{{ partial "header.html" . }}

<div class="background">
    <div class="banner">
        <h1 class="banner-head">
            James Turk
        </h1>
    </div>
    <div class="bio">
      <ul class="social">
        <li><a rel="me" href="https://mastodon.social/@jamesturk"><i class="fa-brands fa-mastodon"></i></a></li>
        <li><a href="https://github.com/jamesturk" rel="me"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="mailto:contact@jamesturk.net" rel="me"><i class="fa-solid fa-envelope"></i></a></li>
        <li><a href="/James_Turk_default_resume.pdf" rel="me"><i class="fa-solid fa-file"></i></a></li>
      </ul>
    </div>
    <div class="projects">
      <ul>
        <li>
          <span class="logo-big logo-white-openstates">&nbsp;</span>
          <a href="https://github.com/openstates/">Open&nbsp;States</a>
        </li>
        <li>
          <span class="logo-big logo-white-scraper">&nbsp;</span>
          <a href="https://jamesturk.github.io/scrapelib/">scrapelib</a>
        </li>
        <li>
          <span class="logo-big logo-white-spatula">&nbsp;</span>
          <a href="https://jamesturk.github.io/spatula/">spatula</a>
        </li>
        <li>
          <span class="logo-big logo-white-honeypot">&nbsp;</span>
          <a href="https://github.com/jamesturk/django-honeypot">django&#8209;honeypot</a>
        </li>
        <li>
          <span class="logo-big logo-white-markup">&nbsp;</span>
          <a href="https://github.com/jamesturk/django-markupfield">django&#8209;markupfield</a>
        </li>
        <li>
          <span class="logo-big logo-white-jellyfish">&nbsp;</span>
          <a href="https://jamesturk.github.io/jellyfish/">jellyfish</a>
        </li>
        <li>
          <span class="logo-big logo-white-jellyfish">&nbsp;</span>
          <a href="https://github.com/jamesturk/go-jellyfish/">go&#8209;jellyfish</a>
        </li>
        <li>
          <span class="logo-big logo-white-jellyfish">&nbsp;</span>
          <a href="https://github.com/jamesturk/rust-jellyfish/">rust&#8209;jellyfish</a>
        </li>
      </ul>
    </div>
</div>

<div class="nobackground">
<div class="timeline">
    {{ range $year := $.Site.Data.links.years }}
    <h3>{{$year}}</h3>
      {{ range sort (index $.Site.Data.links.links $year) "date" "desc" }}
      <div class="entry">
        <span title="{{.category}}" class="logo logo-{{.category}}">{{.category}}</span>
        <a href="{{.url}}">{{ .title }}</a>
        <span class="date">{{ .date }}</span>
      </div>
      {{ end }}
    {{ end }}
</div>
</div>

{{ partial "footer.html" . }}
