{{ partial "header.html" . }}
{{ partial "socialbar.html" . }}

<div class="nobackground">
    <div class="post">
        <h1 class="post-title"> {{ .Title }} </h1>
        <div class="post-meta"> published {{ .Date.Format "January 2, 2006" }} by James Turk </div>
        <div class="clear"> </div>
        <div class="post-body">
            {{ .Content }}
        </div>
        <div class="clear"></div>
        <div class="post-footer">
          James is the creator of <a href="https://openstates.org">Open States</a>, he is available for mission-driven freelance work, <a href="mailto:contact@jamesturk.net">get in touch</a>.
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
