<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='//cdn.jsdelivr.net/devicons/1.4.0/css/devicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">James Turk</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="https://twitter.com/jamesturk" class="pure-menu-link"><i class="fa fa-twitter"></i></a></li>
        <li class="pure-menu-item"><a href="https://github.com/jamesturk" class="pure-menu-link"><i class="fa fa-github"></i></a></li>
        <li class="pure-menu-item"><a href="mailto:james.p.turk@gmail.com" class="pure-menu-link"><i class="fa fa-envelope"></i></a></li>
        <li class="pure-menu-item"><a href="/index.xml" class="pure-menu-link"><i class="fa fa-rss"></i></a></li>
    </ul>
</div>

