<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- others are embedded in the page as actual links -->
    <link rel="me" href="https://plus.google.com/+JamesTurk0/about" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css?20170308">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <title>{{if eq .Title "James Turk" }} {{ else }} {{ .Title }} |{{end }} James Turk </title>
</head>
<body>
