<div class="socialbar">
    <ul>
        <li><a href="/" class="">James Turk</a></li>
        <li><a rel="me" href="https://mastodon.social/@jamesturk"><i class="fa-brands fa-mastodon"></i></a></li>
        <li><a href="https://github.com/jamesturk" rel="me"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="mailto:contact@jamesturk.net" rel="me"><i class="fa-solid fa-envelope"></i></a></li>
        <li><a href="/index.xml"><i class="fa-solid fa-rss"></i></a></li>
    </ul>
</div>
